body {
    margin: 0px;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width:30%;
    height:70%;
    border-color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.panel {
    height:20%;
    width: 100%;
}
.buttons {
    height: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 2px;
}
button {
    width: 24%;
    height: 13.33%;
    font-size: 2em;
}