body {
    margin: 0px;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width:30%;
    height:70%;
    border-color: red;
    border-style: solid;
}
.panel {
    height:20%;
}